<div class="row">
  <div class="col-lg-12">
    <h2 class="text-center text-monospace">Sobre Nosotros <i class="fas fa-home"></i></h2>
    Somos una empresa familiar con 16 años de trayectoria dedicada a la atención personalizada y demás servicios. Son algunas de nuestras características. Contamos con un amplio conocimiento en administraciones, tasaciones, arrendamientos y ventas de campos y propiedades, brindando SEGURIDAD, CONFIANZA, HONESTIDAD.
    Nos capacitamos continuamente en cursos de perfeccionamiento relacionados con la actividad, CON AMPLIO CONOCIMIENTO DE LOS CAMPOS Y SUELOS DE LOS PARTIDOS DE TANDIL, RAUCH, AYACUCHO, LOBERIA, AZUL, NECOCHEA Y BENITO JUAREZ PARA TASACIONES Y VENTAS DE CAMPOS.
    Una inmobiliaria de Tandil, integrada por un equipo de trabajo, conocedores de la ciudad y alrededores, lo cual nos ubica en una inmejorable situación, de atender con la mayor precisión las demandas, en consonancia con el perfil de búsqueda de los interesados. Nuestros múltiples servicios están enfocados a satisfacer a nuestra numerosa y diversa clientela.
  </div>
</div>
<br>
<h2 class="text-center">Nuestro Local  <i class="fas fa-map-marker-alt"></i></h2>
<br>
<div class="row">
  <div class="col-lg-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let key of objectKeys(lista)"><h5>{{ key }}:</h5><h6>{{ lista[key] }}</h6></li>
    </ul>
  </div>
  <div class="col-lg-6">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1887.5387730175205!2d-59.11036893336255!3d-37.32378430931192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911fe0c4d5efa1%3A0x850852c2ec0147c2!2sHerman+Gatti+Negocios+Inmobiliarios!5e0!3m2!1ses!2sar!4v1480363523439" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

