a{
  color: black;
  text-decoration: none;
  display: block;
}

.active {
  background-color: white !important;
  border-color: orange;
  border-left-width: 10px;
  color: blue;
  transition: 0.5s;
}

li{
  text-align: center;
  cursor: pointer;
  transition: 0.5s;

}
