<div class="row">
  <div class="col-lg-3">
      <ul class="list-group">
        <li class="list-group-item p-1 m-2" *ngFor="let item of filtro" (click)="getSearch(item);" [ngClass]="{'active': subclass == item }">{{ item | titlecase }}</li>
      </ul>
      <!-- AGREUGAR LOGIN Y CAMBIAR VARIABLE DEL BOTON POR ADMINNEW -->
      <button type="button" *ngIf="isAuthenticated()" class="btn btn-success" (click)="selectnewPropiedad()">Nueva Propiedad</button>
      <button type="button" *ngIf="isAuthenticated()" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
  </div>
  <div class="col-lg-9" >
    <div *ngIf="!newPropiedad">
      <ng-container *ngIf= "(propiedades == null || propiedades.length == 0)">
        <h5>Lo sentimos, no disponemos de estas propiedades por el momento.</h5>
      </ng-container>
      <ng-container *ngIf="listItems">
        <app-item
        *ngFor="let itemlist of propiedades | subcategoria:subclassfilter; let i = index"
        (selected)="onSelect($event);"
        [item]="itemlist"
        [index] = "i"></app-item>
      </ng-container>
      <ng-container *ngIf="detailMode">
        <app-propiedad-detail [item]="propiedad" (edititem)="onEditProp()" (home)="onHome()"></app-propiedad-detail>
      </ng-container>
    </div>
    <ng-container *ngIf="newPropiedad">
      <div class="row">
        <div class="col-lg-12">
          <app-propiedad-edit [item]="propiedad" [editMode]="newEdit"></app-propiedad-edit>
        </div>
      </div>
    </ng-container>
  </div>
</div>
