<li class="list-inline-item mr-2 p-1" (click)="onSelect(index);">
  <div class="boxinfo rounded" >
    <img [src]="item.imagenes[0]" class="img-fluid rounded" onError="this.src='/assets/Images/no-image.png'"/>
    <h6 *ngIf="(item.categoria == 'propiedad') || (item.categoria == 'alquiler') else nocat">Categoria: {{ item.subcategoria | titlecase }}</h6>
    <ng-template #nocat>
      <h6>Categoria: {{ item.categoria | titlecase }}</h6>
    </ng-template>
    <h6>Direccion: {{ item.direccion | titlecase }}</h6>
    <h6>Precio: {{ item.precio }}</h6>
  </div>
</li>

